@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=VT323&display=swap');
@font-face {
  font-family: 'Bahnschrift';
  src: url('./fonts/BAHNSCHRIFT.TTF') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background:blue;
}
.font-pixel {
  font-family: 'VT323', sans-serif;
}

.font-classic {
  font-family: 'Bahnschrift', sans-serif;
}

.font-inconsolata {
  font-family: 'Inconsolata', monospace;
}
