@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=VT323&display=swap");
@font-face {
  font-family: "Bahnschrift";
  src: url("./fonts/BAHNSCHRIFT.TTF") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: blue;
}
.font-pixel {
  font-family: "VT323", sans-serif;
}

.font-classic {
  font-family: "Bahnschrift", sans-serif;
}

.font-inconsolata {
  font-family: "Inconsolata", monospace;
}

*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #535f65;
}

@media (min-width: 350px) {
  .small-w {
    max-width: 90%;
  }
}
